:root {
  --color-primario:#242444;
  --color-secundario:#b5fc64e0;
  --color-terceario:#b5fc6450;
  --color-text:#C4BCB4;
  --color-text-alternative:#d1e9ffb2;
  --mi-letra:'Readex Pro', sans-serif;
}

body {
  margin: 0;
  background-color: var(--color-primario);
  font-family: var(--mi-letra)
 
}

